<app-header></app-header>
<div class="row">
  <div class="col-2">
    <app-stock-menu></app-stock-menu>
  </div>
  <div class="col-10">
<div class="container-fluid">
  <div class="element">
<div>
  <h1 class="fw-light text-lg-center mt-4 mb-0">Statistique des Dépences</h1>
      <hr class="mt-1 mb-3">
  <canvas id="canvas">{{chart}}</canvas>
</div>

<div>
  <h1 class="fw-light text-lg-center mt-4 mb-0">Statistique nombre d'achat</h1>
      <hr class="mt-1 mb-3">
  <canvas id="canvasnbr">{{chartNbr}}</canvas>
</div>
  </div>
</div>
  </div>
