.bonus-grid {
  padding: 10px;
  border: 1px solid silver;
  border-radius: 5px;
  margin-left: 35px;
  transform: translateY(-3px);
  box-shadow: 0 4px 10px rgb(0 0 0 / 35%);
}

.bonus-min {
  padding-right: 5px !important;
}

.bonus-max {
  padding-left: 5px !important;
}

.div-news {
  margin-bottom: 18px;
}
.produit-input {
  height: 20px !important;
  font-size: 16px;
}

.table-gride{
  padding: 10px;
  border: 1px solid silver;
  border-radius: 5px;
  margin-left: 25px;
  transform: translateY(-3px);
  box-shadow: 0 4px 10px rgb(0 0 0 / 35%);
}

.user-gride{
  padding: 10px;
  border: 1px solid silver;
  border-radius: 5px;
  margin-left: 35px;
  transform: translateY(-3px);
  box-shadow: 0 4px 10px rgb(0 0 0 / 35%);
}

.dash-parametre {
  margin-top: -10px !important;
}
.my-pagination /deep/ .ngx-pagination .current{
  background: #A50134 !important;
}
.btn-regle {
  margin-left: 37% !important;
}
.btn-user {
  margin-left: 30% !important;
}
input, .produit-label {
  width: 250px;
}

.file-image {
  text-align: center;
  margin-left: 110px;
  margin-bottom: 30px;
}

.mTitre {
  font-family: monospace;
  font-weight: bold;
  color: #fff;
}

.modal-header{
  background-color: #A50134;
}
