<div *ngIf="!submit" >
  <div class="form-froup">
      <label for="quantite_ingredient" >quantite ingredient</label>
      <input type="number" class="form-control" id="quantite_ingredient" name="quantite_ingredient" [(ngModel)]="quantite_ingredient" >
  </div>
  <div class="form-froup">
      <label for="produit" >Nom produit</label>
      <select  id="produit"  class="form-control" name="produit" [(ngModel)]="produit" >
          <option *ngFor="let produit of listProd" [ngValue]="produit.id">{{produit.nom}}</option>
      </select>

  </div>

  <div class="form-froup">
      <label for="ingredient" >Nom ingredient</label>
       <select  id="ingredient"  class="form-control" name="ingredient" [(ngModel)]="ingredient" >
         <option *ngFor="let ingredient of listIngred" [ngValue]="ingredient.id">{{ingredient.nom_ingredient}}</option>
      </select>

  </div>
<div class="form-froup mt-2">
  <button type="submit" class="btn btn-primary" (click)="addRec()">Ajouter</button>
</div>

</div>
<div *ngIf="submit">
<p>{{message}}</p>

</div>


