<app-header></app-header>
<div class="row">
  <div class="col-2">
    <app-stock-menu></app-stock-menu>
  </div>
  <div class="col-10">
<div class="container-fluid">
  <div class="element">
<form *ngIf="currentCategorie.id" class="was-validated" novalidate>
  <div class="card-body">
    <div class="mb-3">
      <label for="nom_categorie">Nom categorie</label>
      <input id="nom_categorie"
      [(ngModel)]="currentCategorie.nom_categorie"
      name="nom_categorie" class="form-control" placeholder="Enter categorie"  class="form-control" aria-label="text example" required>
      <div class="invalid-feedback">Entrez le nom de l'categorie!</div>
    </div>
  </div>
  <!-- /.card-body -->
  <div class="modal-footer">
      <button class="btn btn-outline-danger"  (click)="deleteCategorie()">Supprimer</button>


    <button
      type="submit"
      class="btn btn-outline-success"
      (click)="updateCategorie()"
    >
      Modifier
    </button>
  </div>
</form>

<div *ngIf="!currentCategorie.id">
<br />
<p>Cannot access this Categorie...</p>
</div>



<!-- Modal delete-->
<div class="modal fade" id="delete" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<h5 class="modal-title" id="staticBackdropLabel">Supprimer</h5>
<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
<p class="text-xl-center">Etes-vous sûr de vouloir supprimer le categorie <mark>{{currentCategorie.nom_categorie}}</mark> ? Car si vous supprimer cet categorie, toutes les Ingredients qui sont réliés à elle sont également supprimer avec.</p>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
<button type="button" class="btn btn-outline-danger" (click)="deleteCategorie()" data-bs-dismiss="modal" aria-label="Close">Supprimer</button>
</div>
</div>
</div>

</div>
  </div>
</div>
</div>

