<app-header></app-header>
<div class="row">
  <div class="col-2">
    <app-stock-menu></app-stock-menu>
  </div>
  <div class="col-10">
<div class="container-fluid">
  <div class="element">
<form *ngIf="!submitted" class="was-validated" novalidate>
  <div class="card-body">
      <div class="mb-3">
      <label for="nom_unite">Nom Unite</label>
        <input
          type="text"
      class="form-control"
      id="nom_unite"
      required
      [(ngModel)]="unite.nom_unite"
      name="nom_unite" class="form-control"
      aria-label="text example" required/>
      <div class="invalid-feedback">Entrez le nom de l'unite!</div>
    </div>
    <div class="mb-3">
      <label for="symbol">Symbole</label>
        <input
          class="form-control"
      id="symbol"
      required
      [(ngModel)]="unite.symbol"
      name="symbol"  class="form-control"
      aria-label="text example" required/>
        <div class="invalid-feedback">Entrez symbole!</div>
    </div>
  </div>
  <div class="modal-footer">
          <button (click)="saveUnite()" [disabled]="!unite.nom_unite || !unite.symbol" class="btn btn-success">Submit</button>
  </div>
</form>

<div *ngIf="submitted">
  <figure class="text-center">
      <blockquote class="blockquote">
        <p>Si vous vouliez en créer une nouvelle unite,Clic simplement sur le bouton <mark>Encore</mark></p>
      </blockquote>
      <figcaption class="blockquote-footer">
         A chaque enregistrement<cite title="Source Title"> Vous verriez un message à droite de votre ecran</cite>
      </figcaption>
      <button class="btn btn-success" (click)="newUnite()">Encore</button>
    </figure>

</div>
  </div>
</div>
  </div>
